@import '~bootstrap';
@import '~bootstrap-vue';
@import 'global/all';

.results-table {
  @include add-padding
}

#app {
  &, .home-page {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
  }
}
